/* body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
} */

@font-face {
    font-family: 'medievalsharpregular';
    src: url('medievalsharp-regular-webfont.woff2') format('woff2'),
         url('medievalsharp-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.gallery {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  /* Whatever width you want */
}


/*This is styling the gallery items when they are in and out of focus*/
.gallery-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15%;
    box-shadow: 0px 0px 20px 20px grey;
    height: 600px;
}

.gallery-item div p {
    font-family: medievalsharpregular;
    font-size: 16px;
}

.gallery-item img {
    border-radius: 5%;
    width: 200px;
    height: 200px;
}

/* .main-item {
    display: flex;
} */

.gallery-item .text-container {
    margin: 10px 10px 10px 10px;
}

.gallery-item .text-container p {
    text-align: center;
}

.gallery-item .img-container {
    margin: 10px 10px 10px 10px;
}

/* .background-item {
    display: none;
} */

/* This is styling the Previous and the Next button */
.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}