<!DOCTYPE html>
<html lang="en">
<head>
  <title>Falkor</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='falkor.jpg') }}"
  />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='viewer.css') }}">
</head>
<body>
    <div class="outer">
        <div class="middle">
            <div class="gallery">
                <div class="gallery-container">
                    <div class="gallery-item">
                        <div class="text-container">
                            <p>
                                One day, Charlotte the puppy went on an adventure to find buried treasure. She dug and dug, but she couldn’t find anything.
                            </p>
                        </div>
                        <div class="img-container">
                            <img src="{{ url_for('static', filename='image_1_dalle_mini.png') }}" data-index="1">
                        </div>
                    </div>

                    <div class="gallery-item">
                        <div class="text-container">
                            <p>
                                She was just about to give up when she found a small box buried in the ground. She opened it up and found a treasure inside! She was so excited to have found it.
                            </p>
                        </div>
                        <div class="img-container">
                            <img src="{{ url_for('static', filename='image_2_dalle_mini.png') }}" data-index="2">
                        </div>
                    </div>

                    <div class="gallery-item">
                        <div class="text-container">
                            <p>
                                This story teaches us that if we keep looking, we can find hidden treasures. Sometimes we just have to keep digging!
                            </p>
                        </div>
                        <div class="img-container">
                            <img src="{{ url_for('static', filename='image_3_dalle_mini.png') }}" data-index="3">
                        </div>
                    </div>
                </div>
                <div class="gallery-controls">
                    <button class="gallery-controls-previous" type="button">Previous</button>
                    <button class="gallery-controls-next" type="button">Next</button>
                </div>

            </div>
        </div>
  </div>

  <script src="{{ url_for('static', filename='carousel.js') }}"></script>
</body>
</html>